<% include ../partials/header %>
<div class="container">
    <h2>Edit Campground <%= campgroundToBeEdited.name %></h2>
    <div class="campform">
        <form action="/campgrounds/<%= campgroundToBeEdited._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" value="<%= campgroundToBeEdited.name %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" value="<%= campgroundToBeEdited.image %>">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" name="description" id="" placeholder="Description"><%= campgroundToBeEdited.description %></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Edit Campground</button>
            </div>
        </form>
        <a href="/campgrounds">Back</a>
    </div>
</div>
<% include ../partials/footer %>