<% include ../partials/header %>
<p><%= searchedCampground.name %></p>
<img src="<%= searchedCampground.image %>" alt="Campground image">
<p><%= searchedCampground.description%></p>
<% for(var comment of searchedCampground.comments ){ %>
<h3>Comments</h3>
<p><%= comment.text %></p>
<h4> Author </h4>
<p><%= comment.author %></p>
<% } %>
<% include ../partials/footer %>