<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">

                <img src="<%= searchedCampground.image %>" class="img-fluid mx-auto d-block" alt="Campground image">
                <div class="caption">
                    <div class="d-flex justify-content-between">
                        <h4 class="text-primary"><a><%= searchedCampground.name %></a></h4>
                        <h4 class="figure-caption text-right"><strong>£9.00/night</strong></h4>
                    </div>
                    <p><%- searchedCampground.description %></p>
                    <p>
                        <em>Submitted by: <%= searchedCampground.author.username%></em>
                    </p>
                    <div class="d-flex">
                        <% if(currentUser && searchedCampground.author._id.equals(currentUser.id)) { %>
                        <a href="/campgrounds/<%= searchedCampground._id%>/edit"><i class="fas fa-edit edit_icon"></i></a>
                        <form action="/campgrounds/<%= searchedCampground._id%>?_method=DELETE" method="POST" id="campground_delete">
                            <a href="javascript:{}" onclick="document.getElementById('campground_delete').submit(); return false;"><i class="far fa-trash-alt delete_icon"></i></a>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= searchedCampground._id%>/comments/new">Add New
                            Comment</a>
                    </div>
                    <hr>
                    <% for(var comment of searchedCampground.comments ){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <strong><i class="fas fa-user"></i> <%= comment.author.username %></strong>
                                <span class="text-muted"> 10 days ago</span>
                            </div>
                            <p><%- comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser.id)) { %>
                            <div class="d-flex">
                                <a href="/campgrounds/<%= searchedCampground._id %>/comments/<%= comment._id%>/edit">
                                    <i class="fas fa-edit edit_icon"></i></a>
                                <form
                                    action="/campgrounds/<%= searchedCampground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                    method="POST" id="comment_delete">
                                    <a href="javascript:{}" onclick="document.getElementById('comment_delete').submit(); return false;"><i class="far fa-trash-alt delete_icon"></i></a>
                                </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>